{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}



<div class = "scf-commentsystem scf" data-component-id = "{{id}}" data-scf-component = "social/commons/components/hbs/comments">
    <header>
        <h4><span data-attrib = "items-count">{{totalSize}}</span><span>&nbsp;{{i18n "Comments" }}</span></h4>
    </header>
    <div class="scf-composer-block scf-is-collapsed scf-js-composer-block">
        <img class="scf-composer-avatar" src="{{loggedInUser.avatarUrl}}"></img>
        <form evt="submit=addComment" class="scf-composer">
        	{{#unless loggedInUser.loggedIn}}
	        	<input class="scf-input" type="text" data-attrib="anon-name" placeholder="{{i18n "Name"}}"/>
	        	<input class="scf-input" type="text" data-attrib="anon-email" placeholder="{{i18n "E-mail"}}"/>
	        	<input class="scf-input" type="text" data-attrib="anon-web" placeholder="{{i18n "Website"}}"/>
        	{{/unless}}
            {{#if configuration.isRTEEnabled}}
                <textarea class="scf-composer-msg scf-rte-placeholder"  placeholder="{{i18n "Write a comment"}}" evt="click=expandComposer"></textarea>
                <div class="scf-rte-composer">
                    <textarea class="scf-composer-msg"  data-attrib = "message" data-field-type="rte" name = "message" placeholder="{{i18n "Write a comment"}}"></textarea>
                </div>
            {{else}}
                <textarea class="scf-composer-msg"  data-attrib = "message" name = "message" placeholder="{{i18n "Write a comment"}}" evt="click=expandComposer"></textarea>
            {{/if}}
            <div class='scf-composer-toolbar'>
                {{#if configuration.isAttachmentAllowed}}
					<button class="scf-composer-action scf-composer-attach" evt="click=openAttachmentDialog">{{i18n "Attach"}}</button>
					<input class="scf-comment-attachment-input scf-js-cmt-att-input" type="file" data-attrib = 'attachment' name="attachment" multiple evt="change=renderAttachmentList" />
                {{/if}}
				<div class="scf-composer-actions">
					<button type="reset" class="scf-composer-action" evt="click=cancelComposer" >{{i18n "Cancel"}}</button>
    	            <input type = "submit" value="{{i18n "Post"}}" evt="submit=addComment"/>
				</div>
                {{#if configuration.isAttachmentAllowed}}
                    <div class="scf-composer-attachments">
                    	<ul class="scf-attachment-list scf-js-composer-att"></ul>
					</div>
                {{/if}}
            </div>
        </form>
    </div>
    <ul class="scf-comments-list">
        {{#each items}}
            {{#if isVisible}}
                {{include this resourceType='social/commons/components/hbs/comments/comment'}}
            {{/if}}
        {{/each}}
    </ul>
    <div class = "scf-pages">
        <ul class="scf-pages-list">
            {{#pages pageInfo}}
                <li class="scf-pages-list-item">
                    <a class="scf-page{{#if currentPage}} scf-currentPage{{/if}}" data-page-suffix = "{{suffix}}" evt="click=navigate">{{pageNumber}}</a>
                </li>
            {{/pages}}
        </ul>
    </div>
</div> 

<link rel="stylesheet" href="/etc/clientlibs/social/commons/scf.css" type="text/css">

<script type="text/javascript" src="/etc/clientlibs/foundation/shared.js"></script>
<script type="text/javascript" src="/etc/clientlibs/social/commons/underscore.js"></script>
<script type="text/javascript" src="/etc/clientlibs/social/commons/moment.js"></script>

<script type="text/javascript" src="/etc/clientlibs/social/commons/backbone.js"></script>
<script type="text/javascript" src="/etc/clientlibs/social/commons/handlebars.js"></script>

<script type="text/javascript" src="/etc/clientlibs/social/commons/scf.js"></script>

<script type="text/javascript" src="/etc/designs/community-components/clientlibs/codemirror.js"></script>
<script type="text/javascript" src="/etc/designs/community-components/clientlibs/guide.js"></script>

<script type="text/javascript" src="/etc/clientlibs/social/commons/ckeditor.js"></script>
<script type="text/javascript" src="/etc/clientlibs/social/hbs/comments.js"></script>
<script type="text/javascript" src="/etc/clientlibs/social/hbs/tally/voting.js"></script>


<script type="text/javascript" src="/etc/designs/corporate/th-amway-today/clientlibs/js/commentsystem.js"></script>

<link rel="stylesheet" href="/etc/designs/corporate/th-amway-today/clientlibs/css/commentsystem.css" type="text/css">



{{include this resourceType='social/translation/components/translation'}} 