{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}

<div class="scf-comment-status">
    {{#if isClosed}}
        {{#if topLevel}}
            <div class="scf-comment-status-text">{{i18n "This discussion and its replies are closed"}}</div>
        {{/if}}

    {{else}}
        
        {{#if moderatorStatus}}
            {{#if moderatorStatus.isSpam}}
                <div class="scf-comment-status-text">{{i18n "This post was classified as spam"}}</div>
            {{else}}
                {{#unless moderatorStatus.isApproved}}
                    <div class="scf-comment-status-text">{{i18n "This post is pending moderator review"}}</div>
                {{/unless}}
            {{/if}}
	        {{#if moderatorStatus.isFlagged}}
	            <div class="scf-comment-status-text">{{i18n "This post has been flagged for moderation"}}</div>
	            {{#if useFlagReasons}}
		            <span class="scf-link" evt='click=toggleFlag'>{{i18n "(Show/Hide Flag Reasons)"}}</span>
		            <br>
		            <div class='scf-js-toggleFlag-box' style='display:none;'>
		                <div>
		                    <table border="0" class="scf-flag-reasons">
		                        <tr><th>Flag Reason</th><th>Flagged By</th></tr>
		                        {{#each flagReasons}}
		                            <tr>
		                                <td>{{this.reasonText}}</td>
		                                <td>{{this.user}}</td>
			                        </tr>
		                        {{/each}}
		                    </table>
		                </div>
		            </div>
		        {{/if}}
	        {{/if}}
        {{/if}}
        {{#if isFlaggedByUser}}
            <div class="scf-comment-status-text">{{i18n "You have flagged this content for moderation."}}</div>
            {{#if useFlagReasons}}
                <span>{{i18n " Your reason: "}}</span>
                <span class="scf-flag-text scf-quiet">{{currentUserFlagText}}</span>
            {{/if}}
            <span class='scf-comment-remove-flag scf-link' evt='click=removeFlag'>{{i18n "(Remove this flag)"}}</span>
        {{/if}}
        
    {{/if}}
</div>
